.sidebar-content {
   /*overflow-y: hidden;*/
}

.sidebar-pane {
   height: 100%;
   background: green;
   padding: 11px 5px;
}

.CodeMirror {
  border: 1px solid #eee;
  resize: none;
}

.container-fluid {
   padding: 0 0 0 0;
}

.editor-form {
   background-color: red;
}

.editor-field {
   line-height: 1;
   margin-bottom: 2px
}

.tab-container {
   background: yellow;
}

.tab-content {
   padding: 0 0 0 0 !important;
}

/*
tooltip errors need to have a large z-index to get above the sidebar and map
*/
.CodeMirror-lint-tooltip {
   z-index: 10000;
}