* {
   /*font: 14px/1.4 Sans-Serif;*/
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}

html, body {
   height: 100%;
}

.sidebar-content {
   overflow-y: hidden;
}

.CodeMirror {
  border: 1px solid #eee;
  resize: none;
}

.sidebar-container {
   height: 100%;
}

.editor-form {
   background-color: red;
}

.sidebar-pane {
   height: 100%;
   background: green;
}

.editor-field {
   height: 1.5em;
   width: 100%;
   margin-bottom: .1em;
}

.tab-container {

   background: yellow;
}

.tab-content {
   padding: 0 !important;
   height: 88%;
}

.sql-editor + .CodeMirror {
   margin-top: 1em;
   /*height: 200px;*/
}

.style-editor + .CodeMirror {
   margin-top: 1em;
   /*height: 600px;*/
}
