* {
   /*font: 14px/1.4 Sans-Serif;*/
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
   -moz-box-sizing: border-box;    /* Firefox, other Gecko */
   box-sizing: border-box;         /* Opera/IE 8+ */
}

/*.tab-container {
   width: 100%;
   height: 95%;
}*/
/*.tab-container div {
   height: 100%;
   width: 100%;
   padding: 0em !important;
}*/
/*.sidebar-content {
   height: 100%;
}*/
.sidebar-pane {
   height: 95%;
}

/*#sidebar-container {
   height: 100%;
   width: 100%;
}*/

/*.editor-form {
   height: 100%;
   width: 100%;
}*/
/*.editor-field {
   width: inherit;
}*/

.sql-editor {
   height: 2.5em;
   width: 100%;
   height: 20%;
   resize: none;
}

.style-editor {
   height: 60%;
   width: 100%;
   resize: none;
}
